.chat-item{
    border-bottom: 1px solid #EAEAEA;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.chat-item_first{
    border-top: 1px solid #EAEAEA;
}

.chat-item__user-data{
    display: flex;
    align-items: center;
}

.chat-item__user-data__message-preview{
    padding-left: 1em;
}

.chat-item__message-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.chat-item__message-count{
    border-radius: 50%;
    width: 2em;
    height: 2em;
    padding-top: 0.4em;
    background: #3369F3;
    color: #fff;
    text-align: center;
} 
