.input-container{
    text-align: left;
    margin-top: 1em;
}

.input-container__label {
    color: var(--text-grey-color);
    font-size: 0.7em;
}

.input-container__input {
    border-bottom: 1px solid var(--default-blue-color);
    padding: 0.4em 0;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 100%;
    font-size: 1em;
}

.input-container__input:focus{
    outline: none;
}


