.leftMenu {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--border-grey-color);
    
}

.search{
    width: 100%;
    height: 2em;
    border-radius: 5px;
    border: none;
    background-color: var(--background-grey-color);
    text-align: center;
    margin-bottom: 2em;
}

.search:focus{
    outline: none;
}

.grey-text{
    color: var(--text-grey-color); /* todo move */
}

.text-right{
    text-align: right;
    padding: 0 1em;
}

.chat-content{
    padding: 0 1em
}

