.link{    
    font-family: Inter, sans-serif;
    color: var(--default-blue-color);    
    text-decoration: none;
    padding: 1em 0;
    display: block;
}

.link:hover{
    color:var(--alt-blue-color);    
}
