@mixin modal-border{    
    box-shadow: 0 0 6px var(--box-shadow-color);
    border-radius: 12px;
}

@mixin round-button{
    border-radius: 50%;
}

/* todo common place for mixin?? */

.add-or-delete-user{
    @include modal-border;

    border: none;
    top: 100px;/* temp fix for rerender!!!! */
}

.add-or-delete-user__close-btn-row{
    text-align: right;
}

.add-or-delete-user__close-button{
    background: transparent;
    border: none;
}

.add-or-delete-user__button-row{
    display: flex;
    padding: 1em 0;
    align-items: center;
    justify-content: start;
    gap: 0.5em;
}

.add-or-delete-user__round-button{
    @include round-button;
    
    border-color: var(--default-blue-color);
    color: var(--default-blue-color);
    background: transparent;
    width: 2em;
    height: 2em
}
