/* todo refactor this??? */

$border-radius: 15px;

/* header with avatar, name and add user button */

.chat-content__user{
    border-bottom: 1px solid var(--border-grey-color);
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
    align-items: center;
}

.chat-content__user__user-info{
    display: flex;
    align-items: center;
}

.chat-content__user__user-info__username{
    font-weight: bold;
    padding-left: 1em;
}

.chat-content__user__user-info__avatar{
    width: 3em;
}

.chat-content__user__button{
    border-radius: 50%;
    border: none;
    color: var(--default-blue-color);
    width: 2em;
    height: 2em;
}

/* messages */
.chat-content__messages{
    min-height: 30em;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.chat-content__messages__message-container_right{
    justify-content: end;
    display: flex;
}

.chat-content__messages__message-container_left{
    justify-content: start;
    display: flex;
}

.chat-content__messages__message{
    border-radius: $border-radius;
    padding: 1em;
    display: flex;
}


.chat-content__messages__message_my-message{
    background-color: var(--background-light-blue-color);

}

.chat-content__messages__message_not-my-message{
    background-color: var(--background-message-grey-color);
}

.chat-content__messages__message_my-message .time{
    color: var(--default-blue-color);
    font-size:0.7em;
}

.chat-content__messages__message_not-my-message .time{
    color: var(--text-grey-color);
    font-size:0.7em;
}

/* footer with upload file, message input and send button */

.chat-content__new-message-block{
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.chat-content__new-message-block__input{
    background: #EFEFEF;
    border-radius: 30px;
    width: 20em;
    border:none;
    height: 2em;
    padding: 0.5em; /* todo common for message input */
}

.chat-content__new-message-block__input:focus{
    outline: none;
}

.chat-content__new-message-block__file-button{
color: #999;
background-color: transparent;
border: none;
padding: 0;
}

.chat-content__new-message-block__file-button:hover{
    color: black;
}

.chat-content__new-message-block__file-icon::before{
    font-size: 2em;
}

.chat-content__new-message-block__send-button{
    width: 2em;
    height: 2em;
    background: var(--default-blue-color);
    color: var(--white);
    text-align: center;
    border-radius: 50%;
    padding-top: 0.4em;
    border: none;
}
