/* todo refactor this??? */

$border-radius: 15px;

.chat-content__user{
    border-bottom: 1px solid var(--border-grey-color);
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
    align-items: center;
}

.chat-content__user__button{
    border-radius: 50%;
    border: none;
    color: var(--default-blue-color);
    width: 2em;
    height: 2em;
}

